include INSTALL
include README

include epydoc.conf
include edef-dev.py

recursive-include edef *.py
recursive-include edef-dev *.py
recursive-include test *.py
recursive-include tools *.py

include modules/*.zip
include modules/*.xml

graft schema
